.cancelar-button{
    background-color: var(--input-background);
    color: white;
    font-weight: 600;
    border: 1px solid rgb(96, 94, 94);
    width: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    height: 40px;
}