.resultados{
    width: 80%;
    height: auto;
    padding: 1rem;  
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

    .resultados div{
        width: 45%;
        height: auto;
        padding: 1rem;
        border-radius: 10px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        background-color: var(--background-color);
        box-shadow: 0 4px 12px rgba(255, 255, 255, 0.3);
        ;
    }