.empleados-container{
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 20px;
    
}

 .empleados-container input{
    background-color: transparent;
    outline: none;
    color: white;
    width: auto;
    height: auto;
   
 }



