
    .container-registrar-empleados{
        width: 60%;
        min-width: 420px;
        padding: 1rem;
        border: 1px solid #3c4450;
        background-color: #1E2229;
        border-radius: 10px;
        height: fit-content;
    }

        .form-registrar-empleados{
            display: flex;
            flex-wrap: wrap;
            height: auto;
            gap: 30px;

        }

      

        .form-registrar-empleados div{
            display: flex;
            flex-direction: column;
            width: 45%;
            gap: 15px;
        }
       


.namas{
    width: 20%;
    height: 10vh;
    background-color: gray;
}